<html>
<head><title>The Frontend Test Bit</title></head>
<body ng-app="BetrayalApp">
	<div ng-controller="BetrayalController">
		<button ng-click="reset()">Reset This Whole Mess</button>
		<button ng-click="loadCharacters()">Load</button>
		<ul>
			<li ng-repeat="character in characters">
				<button ng-click="selectCharacter(character.Id)">{{ character.Name }}</button>
			</li>
		</ul>
	</div>
<script src="angular.js"></script>
<script src="angular-route.js"></script>
<script src="app.js"></script>
</body>
</html>